body{
    height: 100vh;
    margin: 0;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
}
.tllinks {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}
li {
    display: inline;
    padding: 8px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.signin {
    background-color: #1a73e8;
    text-align: center;
    color: #fff;
    font-family: Roboto,arial,sans-serif;
}
.search-box {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}
input {
    border: none;
}
#search:hover, #search:active, #search:focus{
    box-shadow: 0px 1.7px 5px #dfdfdf;;
    outline: none;
}
.mic {
    height: 19px;
    width : 14px;
}
button {
    border: none;
    font-family: Roboto,arial,sans-serif;
    cursor: pointer;
}
.material-icons {
    color: #9aa0a6;
}
.footer-link {
    color: #70757a;
}